<div class="sidebar">
    <h2>Menú</h2>
    <ul class="list-unlistayed">
        <li class="list-group-item"><a href="" [routerLink]="['/home']">Inicio</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/about']">Acerca de</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/contact']">Contacto</a></li>
        <li class="list-group-item"><a href="" [routerLink]="''">Por Pais</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/capital']"> Por Capital</a></li>
        <li class="list-group-item"><a href="" [routerLink]="['/region/']">Por Region</a></li>
    </ul>
  </div>
